@import "./../var/var.css";

.h_15 {
	height: var(--px15)
}
.h_18 {
	height: var(--px18)
}
.h_10 {
	height: var(--px10)
}
.h_20 {
	height: var(--px20)
}
.h_25 {
	height: var(--px25)
}
.h_30 {
	height: var(--px30)
}
.h_35 {
	height: var(--px35)
}
.h_38 {
	height: var(--px38)
}
.h_40 {
	height: var(--px40);
}
.h_48 {
	height: var(--px48);
}
.h_50 {
	height: var(--px50);
}
.h_60 {
	height: var(--px60);
}
.h_80 {
	height: var(--px80);
}
.h_120 {
	height: var(--px120);
}
.h_150 {
	height: var(--px150);
}

.h_all {
	height: 100%;
}
.h_container {
	height: 100cqw;
}

.max_height_200 {
	max-height: calc(var(--index) * 10);
	overflow-y: auto;
}