.Title {
	font-family: 'mm', sans-serif;
	line-height: 1.2em;
}

.h1 {
	font-size: var(--px50);
}
.h1_uppercase {
	text-transform: uppercase;
	font-size: var(--px50);
}
.h2 {
}
.h3 {
}
.h4 {
	font-size: var(--px20);
	line-height: 140%;
}
.h4_thin {
	font-size: var(--px20);
	font-family: 'mr', sans-serif;
	line-height: 140%;
}
.h5 {
}
.h6 {
}
