.Text {
	line-height: 1.4em;

	//TextAlign
	&.alignLeft {
		text-align: left;
	}
	&.alignCenter {
		text-align: center;
	}
	&.alignRight {
		text-align: right;
	}

	/*Font weight*/
	&.regular {
		font-family: 'mr', sans-serif;
	}
	&.light {
		font-family: 'mth', sans-serif;
	}
	&.semi-bold {
		font-family: 'msb', sans-serif;
	}
}

.paragraph_theme {
}
