.AuthDialog {
  .Logo {
    width: min(calc(var(--index) * 6.5), 132px);
    height: min(calc(var(--index) * 6), 120px);

    rect, image {
      width: 100%;
      height: 100%;
    }
  }

  .DialogTitle {
    font-size: var(--px24);
    text-transform: uppercase;
    font-family: 'msb', sans-serif;
  }
}

.ForgotPassword {
  color: var(--accent-blue);
  font-family: 'msb', sans-serif;
  cursor: pointer;
}

