.Header {
  width: 100%;
  height: var(--px64);
  box-sizing: border-box;
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: var(--header-height-padding) var(--header-width-padding);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  &.light {

  }

  &.dark {
    .LogoWrapper {
      height: var(--px50);
      fill: #fff;
    }

    .HeaderActionsWrapperIcon {
      stroke: var(--header-color);
      transition: var(--transition-stroke);
      width: var(--px24);
      height: var(--px24);
      cursor: pointer;

      &:hover {
        //background-color: var(--header-icons-bg);
        //stroke: var(--inverted-header-color);
      }
    }

    .TopNavigation {
      color: #000;
    }


  }
  .EnterBtn {
    font-size: var(--px16) !important;
    padding: var(--px5) var(--px30);
  }

  .Hamburger {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    .Hamburger {
      display: block;
      width: var(--px30);
      height: var(--px30);
      cursor: pointer;
    }
  }
}

