.Header {
	width: 100%;
	box-sizing: border-box;
	padding: var(--px10) var(--sections-padding) var(--px10) var(--sections-padding);
	background-color: var(--main-bg);
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;

	&.light {
	}
	&.dark {
		.HeaderActionsWrapperIcon,
		.HeaderActionsWrapperCalendarIcon {
			stroke: #000;
		}
		.TopNavigation {
			color: #000;
		}
	}
}

.HeaderInnner {
	color: #fff;
	border-radius: var(--often-border-radius);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	height: var(--px60);
	/* width: var(--px40); */
}
.LogoWrapper {
	height: var(--px60) !important;
	width: var(--px80) !important;
}

/* HeaderActionsWrapper */
.HeaderActionsWrapper {
	display: flex;
	align-items: center;
}

.HeaderActionsWrapperIcon {
	height: var(--px28);
	width: var(--px28);
	stroke: var(--header-icons);
	margin-right: var(--px22);
	cursor: pointer;
	padding: var(--px10);
	transition: var(--transition-background-color);
}
.HeaderActionsWrapperIcon:hover {
	background-color: var(--header-icons-bg);
}
.HeaderActionsWrapperIcon:last-child {
	margin-right: 0;
}
