.Header {
  width: 100%;
  height: var(--px48);
  box-sizing: border-box;
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 0 var(--header-paddign);

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  &.light {

  }

  &.dark {
    .LogoWrapper {
      height: var(--px32);
      fill: #767676;
    }

    .HeaderActionsWrapperIcon {
      stroke: var(--header-color);
      transition: var(--transition-stroke);
      width: var(--px24);
      height: var(--px24);
      cursor: pointer;

      &:hover {
        background-color: var(--header-icons-bg);
        //stroke: var(--inverted-header-color);
      }
    }

    .TopNavigation {
      color: #000;
    }

    .EnterBtn {
      font-size: var(--px16);
      padding: var(--px5) var(--px30);
    }
  }
}

