.TopNavigation {
	display: flex;
	align-items: center;
}

.TopNavigation li {
	margin-right: var(--px50);
	position: relative;
}

.TopNavigation li:after {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	background-color: #fff;
	transform: rotate(45deg) translateY(-50%);
	right: calc(-1 * var(--px25));
	top: 50%;
}

.TopNavigation li:last-child {
	margin-right: 0;
}

.TopNavigation li:last-child:after {
	display: none;
}
