.SearchLine {
  position: relative;
  display: flex;
  align-items: center;

  .InputCls {
  }

  .SearchIcon {
    position: absolute;
    height: 70%;
    width: var(--px30);
    right: 0;
    transform: translateX(-50%);
    fill: var(--header-bg);
    cursor: pointer;
    z-index: 2;
  }
}