.SearchLine {
  position: relative;
  display: flex;
  align-items: center;

  .InputCls {
  }

  .SearchIcon {
    position: absolute;
    height: var(--px25);
    width: var(--px25);
    right: 0;
    transform: translateX(-20%);
    fill: var(--header-bg);
    cursor: pointer;
    z-index: 2;
  }
}