.TableScreen {
  box-sizing: border-box;
  padding: var(--px60) var(--sections-padding) var(--px60)  var(--sections-padding);

  .Table {
    div {
      font-family: 'mm', sans-serif;
    }

    .TableRow {
      padding: var(--px35) 0;
      border-bottom: 1px solid #C9C9C9;

      &.TableRowHeader {
        background-color: #D9D9D9;
        color: rgba(#000, 0.8);
        font-family: 'mr', sans-serif;
        font-style: italic;
        border-bottom-left-radius: var(--px8);
        border-bottom-right-radius: var(--px8);
      }

      .TableRowSide {
        width: 33.3%;
        font-family: 'mm', sans-serif;
        font-size: var(--px20);
        line-height: 130%;
      }

      .TableRowLeft {
        text-align: start;
        font-family: 'mr', sans-serif;
      }
      .TableRowMiddle {
        font-style: italic;
        text-align: center;
      }
      .TableRowRight {
        text-align: end;
        font-style: italic;
      }
    }
  }
}