.TableScreen {
  .Title {
    color: #fff;
    &:after {
      background-color: rgba(#fff, .8);
    }
  }

  .Table {
    div {
      font-family: 'mm', sans-serif;
    }

    .TableRow {
      padding: var(--px35) 0;
      border-bottom: 1px solid #828282;
      font-size: var(--px24);

      &.TableRowHeader {
        font-family: 'msb', sans-serif !important;
        border-bottom: 1px solid #fff;
        color: #fff;
      }

      .TableRowSide {
        width: 33.3%;
        font-family: 'mm', sans-serif;
        font-size: var(--px20);
        line-height: 130%;
        color: rgba(#fff, .9);
      }

      .TableRowLeft {
        text-align: start;
        font-family: 'mr', sans-serif;
      }
      .TableRowMiddle {
        font-style: italic;
        text-align: center;
      }
      .TableRowRight {
        text-align: end;
        font-style: italic;
      }
    }
  }
}