.m_t_5 {
  margin-top: var(--px5);
}
.m_t_10 {
  margin-top: var(--px10);
}
.m_t_15 {
  margin-top: var(--px10);
}
.m_t_20 {
  margin-top: var(--px20);
}
.m_t_30 {
  margin-top: var(--px30);
}
.m_t_40 {
  margin-top: var(--px40);
}

.m_t_auto {
  margin-top: auto;
}