.Button {
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	transition: var(--transition-all);
	cursor: pointer;
	border-radius: var(--px15);

	// Variant
	&.outline_transparent {
		background-color: transparent;
		border: 1px solid;
		padding: var(--px4) var(--px20);
		font-family: 'mm', sans-serif;
		font-size: var(--px20);
		border-radius: 200px;
	}

	&.outline_transparent_arrow,
	&.default {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'mr', sans-serif;
		font-size: var(--px24);
		padding: var(--px10) var(--px48);
		border-radius: var(--px8);
		border: 1px solid #000;
		cursor: pointer;
		transition: var(--transition-all);
		svg {
			width: var(--px15);
			height: var(--px15);
			margin-left: var(--px15);
			transition: var(--transition-fill);
		}

		&:hover {
			background: #000;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}

	// Color Theme
	&.dark {
		color: var(--main-text-color);
		border-color: var(--main-text-color);
	}

	&.light {
		color: var(--main-bg);
		border-color: var(--main-bg);
		&:hover {
			background-color: var(--main-bg);
			color: var(--main-text-color);
		}
	}
}