//@import "./../vars/vars";
//@import "./../vars/mixins";

$color: #fff;
$size: 8px;
$time: 1;

.CircleLoader {
	transition: all 0.3s ease;
	opacity: 0;
	pointer-events: none;
	transform: translateY(var(--px10));
	max-height: 0;

	&.visible {
		opacity: 1;
		pointer-events: inherit;
		transform: translateY(0);
		max-height: 80px;
	}

	.dank-ass-loader {
		display: flex;
		flex-direction: column;
		align-items: center;
		// transform: rotate(90deg);

		.rowing {
			display: flex;
		}
	}

	.arrowing {
		width: 0;
		height: 0;
		margin: 0 (-$size / 2);
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: ($size * 1.8) solid $color;
		animation: blink $time + s infinite;
		filter: drop-shadow(0 0 ($size * 1.5) $color);

		&.down {
			transform: rotate(180deg);
		}

		@for $i from 1 through 18 {
			&.outer-#{$i} {
				animation-delay: -($time / 18) * $i + s;
			}
		}

		@for $i from 1 through 6 {
			&.inner-#{$i} {
				animation-delay: -($time / 6) * $i + s;
			}
		}
	}
}

@keyframes blink {
	0% {
		opacity: 0.1;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
