.WithDecorLineComponent {
  position: relative;
  padding-top: var(--px20);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-text-color);
  }
}