.Navigation {
  ul {
    border-bottom: 2px solid #BBC1e1;
    width: 100%;

    li {
      position: relative;
      cursor: pointer;
      box-sizing: border-box;

      a {
        color: #F9F9F9;
        box-sizing: border-box;
        transition: text-shadow .3s ease;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: -2px;
        left: 0;
        transition: opacity .3s ease;
        opacity: 0;
      }

      &.active,
      &:hover {
        &:after {
          opacity: 1;
        }

        a {
          color: #fff;
          text-shadow: 0 0 .65px #fff, 0 0 .65px #fff;
          //font-family: 'monsterat-sb', sans-serif;
        }
      }
    }
  }
}