.Button {
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	transition: var(--transition-all);
}

.outline_transparent {
	background-color: transparent;
	padding: var(--px6) var(--px30);
	font-family: 'mm', sans-serif;
	font-size: var(--px20);
	border-radius: 200px;
}

/* ColorTheme */

.dark {
	color: #000;
	border-color: #000;
}
.dark:hover {
	color: #fff;
	background-color: #000;
}

.light {
	color: #fff;
	border-color: #fff;
}
.light:hover {
	color: #000;
	border-color: #000;
}

/* Border Radius */

.s {
	border-radius: var(--px15);
}

.m {
}

.l {
}

.xl {
}

.xxl {
}
