.p_l_5 {
  padding-left: var(--px5) !important;
}
.p_l_8 {
  padding-left: var(--px8) !important;
}
.p_l_10 {
  padding-left: var(--px10) !important;
}
.p_l_20 {
  padding-left: var(--px20) !important;
}
.p_l_30 {
  padding-left: var(--px30) !important;
}
.p_l_35 {
  padding-left: var(--px35) !important;
}
.p_l_40 {
  padding-left: var(--px40) !important;
}
.p_l_50 {
  padding-left: var(--px50) !important;
}