.StagesScreen {
  display: flex;
  justify-content: space-between;

  .Stage {
    width: calc(100% / 3);

    .StageTitle {
      font-family: 'msb', sans-serif;
      font-size: var(--px24);
      text-transform: uppercase;
    }

    .StageText {
      font-family: 'mr', sans-serif;
      line-height: 1.4em;
      font-size: var(--px16);
    }

    .Btn {
      margin-top: var(--px20);
    }
  }

}