.StagesScreen {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--sections-big-padding) var(--px50) var(--sections-big-padding);

  .LeftSide {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Circles {
      width: 80%;
    }
  }

  .RightSide {
    width: var(--content-width);
    .Stage {
      display: flex;

      .StageDecore {
        display: flex;
        flex-direction: column;
        align-items: center;
        .StageNumber {
          font-size: var(--px38);
          font-family: 'msb', sans-serif;
          position: relative;
          color: #4A4747;
        }
        .Line {
          width: 4px;
          background-color: #4A4747;
          height: calc(100% - var(--px10));
        }
      }

      .StageContent {
        margin-left: var(--px50);

        .StageTitle {
          font-size: var(--px20);
          margin-bottom: var(--px20);
        }

        .StageText {
          font-family: 'mr', sans-serif;
          line-height: 1.4em;
        }

        .Btn {
          margin-top: var(--px20);
          margin-bottom: var(--px40);
        }
      }
    }
  }
}