:root {
  --main-screen-title-height: 45%;
}

.MainScreenWrapper {
  position: relative;
  height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  overflow: hidden;
  
  .Content {
    height: var(--main-screen-title-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .bg {
      width: 100%;
      height: 110%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .TitleWrapper {
      width: 100%;
      z-index: 1;
      position: relative;

      .LogoTitle {
        width: 75%;
        fill: #fff;
        display: block;
      }

      .Title {
        display: block;
        max-width: 70%;
        font-size: var(--px32);
        text-transform: none;
        font-family: 'mthi', sans-serif !important;
        line-height: 120%;
        text-align: center;
        color: #fff;

        &:after {
          display: none !important;
        }
      }
    }
  }

  .MainScreenCardsWrapper {
    position: relative;
    z-index: 2;
    background-color: #fff;
    height: calc(100% - var(--main-screen-title-height));
    border-top-left-radius: var(--px20);
    border-top-right-radius: var(--px20);
    box-sizing: border-box;
    padding: var(--px25) var(--sections-padding);

    .Card {
      width: calc(33.3% - var(--px17) * 2 / 3);
    }

    .MainScreenCards {
      height: 100%;

      .Separator {
        width: 1px;
        gap: var(--px18);

        .SeparatorLine {
          width: 1px;
          background-color: #111;
        }
        .SeparatorTop {
          height: var(--main-screen-card-title-height);
        }
        .SeparatorBottom {
          height: var(--main-screen-card-content-height);
        }
      }
    }

    .MoreBtn {
      margin: var(--sections-padding) auto 0 auto;
      color: #9f9f9f;
      cursor: pointer;
      display: flex;
      align-items: center;

      .MoreBtnIcon {
        margin-left: var(--px22);
        fill: #9f9f9f;
        stroke: #9f9f9f;
        width: var(--px40);
        height: var(--px40);
      }

      .OlympsBtn {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .MainScreenWrapper {
    .MainScreen {
      padding-top: 0;

      .Content {
        gap: var(--px80);
      }

      .LogoTitle {
        display: none;
      }

      .Title {
        font-size: var(--px30);
        text-align: left;
        max-width: 600px;
        text-transform: uppercase;
        font-family: 'mi', sans-serif;
        line-height: 1.5em;
      }

      .TitleWrapper {
        align-items: flex-start;
      }

      .MainScreenCards {
        display: none;
      }

      .OlympsBtn {
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
      }
    }
  }
}