.AdvantagesCard {
	background-color: #fff;
	width: calc(33.3% - var(--px24) * 2 / 3);
	padding: var(--px18) var(--sections-inner-paddings);
	border-radius: var(--often-border-radius);
	box-sizing: border-box;
}

.AdvantagesCard h4 {
	font-family: 'msb', sans-serif;
	font-size: var(--px80);
	line-height: var(--px80);
}
