.position-relative {
	position: relative !important;
}
.position-absolute {
	position: absolute !important;
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex {
	display: flex;
}

.flex_all {
	flex: 1 0 0;
}

.direction-column {
	flex-direction: column;
}

.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.items-center {
	align-items: center;
}

.items-start {
	align-items: flex-start;
}

.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.cursor-pointer {
	cursor: pointer;
}

.no-touch {
	cursor: default;
	pointer-events: none;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: left;
}

.bs-bb {
	box-sizing: border-box !important;
}

.ws-nw {
	white-space: nowrap;
}

.d-ib {
	display: inline-block !important;
}

.transition-fill {
	transition: var(--transition-fill);
}

.z_i_1 {
	z-index: 1;
}
.z_i_3 {
	z-index: 3 !important;
}
.z_i_4 {
	z-index: 4 !important;
}

/* ---- tranforming ---- */

.rotate90 {
	transform: rotate(90deg);
}

.rotate-90 {
	transform: rotate(-90deg);
}

/* ---- BG ---- */

.bgAccent9 {
	background-color: var(--accent9) !important;
}

/* ---- Borders ---- */

.b_3_red {
	border: 3px solid var(--red);
}
.b_3_yellow {
	border: 3px solid var(--yellow);
}
.b_3_green {
	border: 3px solid var(--green);
}
.br_10 {
	border-radius: var(--px10);
}

/* ---- Fill color ---- */

.fill_white {
	fill: var(--white);
}
.stroke_white {
	stroke: var(--white);
}
.fill_green,
.fill_green path {
	fill: var(--green);
}
.fill_red,
.fill_red path {
	fill: var(--red);
}
.fill_red_important,
.fill_red_important path {
	fill: var(--red) !important;
}
.fill_yellow,
.fill_yellow path {
	fill: var(--yellow);
}
.fill_blue,
.fill_blue path {
	fill: var(--blue);
}

/* ---- buttons ----*/

.btn_red {
	border: 1px solid var(--red) !important;
	color: var(--red) !important;
}
.btn_red:hover {
	background-color: var(--red) !important;
	color: var(--white) !important;
}

.btn_disable {
	opacity: 0.4;
	pointer-events: none;
}

.circle {
	border-radius: 50%;
	overflow: hidden;
}

.disable {
	opacity: 0.5;
	pointer-events: none;
}

.hide {
	opacity: 0;
	pointer-events: none;
}
