.fz_5 {
	font-size: var(--px5)
}
.fz_6 {
	font-size: var(--px6)
}
.fz_7 {
	font-size: var(--px7)
}
.fz_8 {
	font-size: var(--px8)
}
.fz_9 {
	font-size: var(--px9)
}
.fz_10 {
	font-size: var(--px10)
}
.fz_11 {
	font-size: var(--px11)
}
.fz_12 {
	font-size: var(--px12)
}
.fz_13 {
	font-size: var(--px13)
}
.fz_14 {
	 font-size: var(--px14)
 }
.fz_15 {
	font-size: var(--px15)
}
.fz_16 {
	font-size: var(--px16)
}
.fz_17 {
	font-size: var(--px17)
}
.fz_18 {
	font-size: var(--px18)
}
.fz_19 {
	font-size: var(--px19)
}
.fz_20 {
	font-size: var(--px20)
}
.fz_24 {
	font-size: var(--px24)
}
.fz_28 {
	font-size: var(--px28)
}
.fz_32 {
	font-size: var(--px32)
}
.fz_40 {
	font-size: var(--px40)
}