@font-face {
  font-family: 'monsterat';
  src: url('./../assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monsterat-sb';
  src: url('./../assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'monsterat-sb';
  src: url('./../assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

.m-sb-i {
  font-family: 'monsterat-sb';
  font-style: italic;
}

body {
  background-color: #fff;
  font-family: 'monsterat';
  color: var(--default-text-color);
  height: 400vh;
}

* {
  box-sizing: border-box;
}

.container-custom {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .container-inner {
    max-width: 1160px;
    width: 95%;
  }
}

.pointer {
  cursor: pointer;
}