:root {
	--main-bg: #efefef;
	--main-text-color: #000;

	/* ---- darkMode ---- */
	--accent1: #151515;

	--header-icons: #c5c5c5;
	--header-icons-bg: #282d35;

	/* ---- skeleton ---- */
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0, 0, 0, 0.2);

	/* ---- new-categories ---- */
	--news-categories-color: #D8540A;

	/* ---- half content ---- */
	--content-width: 54.1%;
	--content-width-second: 42.3%;

	--transition-all: all 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-max-height: max-height 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-border-color: border-color 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-background-color: background-color 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-transform: transform 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-color: color 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-opacity: opacity 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-fill: fill 0.3s cubic-bezier(0.2, 0.6, 0, 1);
	--transition-stroke: stroke 0.3s cubic-bezier(0.2, 0.6, 0, 1);

	--index: calc(1vh + 1vw);
	--px2: min(calc(var(--index) * 0.095), 3px);
	--px3: min(calc(var(--index) * 0.14), 3px);
	--px4: min(calc(var(--index) * 0.19), 4px);
	--px5: min(calc(var(--index) * 0.238), 5px);
	--px6: min(calc(var(--index) * 0.285), 6px);
	--px7: min(calc(var(--index) * 0.33), 7px);
	--px8: min(calc(var(--index) * 0.38), 8px);
	--px9: min(calc(var(--index) * 0.428), 9px);
	--px10: min(calc(var(--index) * 0.5), 10px);
	--px11: min(calc(var(--index) * 0.523), 11px);
	--px12: min(calc(var(--index) * 0.6), 12px);
	--px13: min(calc(var(--index) * 0.619), 13px);
	--px14: min(calc(var(--index) * 0.666), 14px);
	--px15: min(calc(var(--index) * 0.714), 15px);
	--px16: min(calc(var(--index) * 0.76), 16px);
	--px17: min(calc(var(--index) * 0.8), 17px);
	--px18: min(calc(var(--index) * 0.857), 18px);
	--px19: min(calc(var(--index) * 0.9), 19px);
	--px20: min(calc(var(--index) * 0.95), 20px);
	--px21: min(calc(var(--index) * 1), 21px);
	--px22: min(calc(var(--index) * 1.095), 22px);
	--px24: min(calc(var(--index) * 1.142), 24px);
	--px25: min(calc(var(--index) * 1.19), 25px);
	--px26: min(calc(var(--index) * 1.238), 26px);
	--px27: min(calc(var(--index) * 1.285), 27px);
	--px28: min(calc(var(--index) * 1.33), 28px);
	--px29: min(calc(var(--index) * 1.4), 29px);
	--px30: min(calc(var(--index) * 1.42), 30px);
	--px32: min(calc(var(--index) * 1.52), 32px);
	--px35: min(calc(var(--index) * 1.7), 35px);
	--px38: min(calc(var(--index) * 1.8), 38px);
	--px40: min(calc(var(--index) * 1.9), 40px);
	--px48: min(calc(var(--index) * 2.4), 48px);
	--px50: min(calc(var(--index) * 2.5), 50px);
	--px60: min(calc(var(--index) * 2.9), 60px);
	--px64: min(calc(var(--index) * 3.05), 64px);
	--px73: min(calc(var(--index) * 3.47), 73px);
	--px80: min(calc(var(--index) * 3.8), 80px);
	--px100: min(calc(var(--index) * 4.76), 100px);
	--px120: min(calc(var(--index) * 5.71), 120px);
	--px150: min(calc(var(--index) * 7.14), 150px);
	--px180: min(calc(var(--index) * 8.57), 180px);

	/* ---- Sections padding ---- */
	--sections-padding: var(--px40);
	--sections-middle-padding: var(--px60);
	--sections-big-padding: var(--px80);
	--sections-inner-paddings: var(--px30);
	--often-border-radius: var(--px18);

	--ofter-right-side-width: 78%;
	--header-paddign: var(--px40);
}

/* -------- Adaptation ------ */

@media screen and (max-width: 768px) {
	:root {
		--px2: min(calc(var(--index) * 0.14), 5px) !important;
		--px3: min(calc(var(--index) * 0.21), 5px) !important;
		--px4: min(calc(var(--index) * 0.29), 6px) !important;
		--px5: min(calc(var(--index) * 0.36), 8px) !important;
		--px6: min(calc(var(--index) * 0.43), 9px) !important;
		--px7: min(calc(var(--index) * 0.49), 11px) !important;
		--px8: min(calc(var(--index) * 0.57), 12px) !important;
		--px9: min(calc(var(--index) * 0.64), 14px) !important;
		--px10: min(calc(var(--index) * 0.75), 15px) !important;
		--px11: min(calc(var(--index) * 0.78), 17px) !important;
		--px12: min(calc(var(--index) * 0.9), 18px) !important;
		--px13: min(calc(var(--index) * 0.93), 20px) !important;
		--px14: min(calc(var(--index) * 1), 21px) !important;
		--px15: min(calc(var(--index) * 1.07), 23px) !important;
		--px16: min(calc(var(--index) * 1.14), 24px) !important;
		--px17: min(calc(var(--index) * 1.2), 26px) !important;
		--px18: min(calc(var(--index) * 1.29), 27px) !important;
		--px19: min(calc(var(--index) * 1.35), 29px) !important;
		--px20: min(calc(var(--index) * 1.42), 30px) !important;
		--px21: min(calc(var(--index) * 1.5), 32px) !important;
		--px22: min(calc(var(--index) * 1.64), 33px) !important;
		--px24: min(calc(var(--index) * 1.71), 36px) !important;
		--px25: min(calc(var(--index) * 1.78), 38px) !important;
		--px26: min(calc(var(--index) * 1.86), 39px) !important;
		--px27: min(calc(var(--index) * 1.93), 41px) !important;
		--px28: min(calc(var(--index) * 2), 42px) !important;
		--px29: min(calc(var(--index) * 2.1), 44px) !important;
		--px30: min(calc(var(--index) * 2.13), 45px) !important;
		--px32: min(calc(var(--index) * 2.28), 48px) !important;
		--px35: min(calc(var(--index) * 2.55), 53px) !important;
		--px38: min(calc(var(--index) * 2.7), 57px) !important;
		--px40: min(calc(var(--index) * 2.85), 60px) !important;
		--px48: min(calc(var(--index) * 3.6), 72px) !important;
		--px50: min(calc(var(--index) * 3.75), 75px) !important;
		--px60: min(calc(var(--index) * 4.35), 90px) !important;
		--px64: min(calc(var(--index) * 4.57), 96px) !important;
		--px73: min(calc(var(--index) * 5.21), 110px) !important;
		--px80: min(calc(var(--index) * 5.7), 120px) !important;
		--px100: min(calc(var(--index) * 7.35), 150px) !important;
		--px120: min(calc(var(--index) * 8.56), 180px) !important;
		--px150: min(calc(var(--index) * 10.71), 225px) !important;
		--px180: min(calc(var(--index) * 12.86), 270px) !important;
	}
}
