.LoginTab {
  .DialogTitle {
    text-transform: uppercase;
    font-family: 'msb', sans-serif;
  }

  .Logo {
    width: 132px;
    height: 120px;
  }

  .OfferSpan {
    color: var(--accent-blue);
    text-decoration: underline;
    cursor: pointer;
  }

  .RegBtn {
    width: 90%;
  }
}

