.TopNavigation {
	display: flex;
	align-items: center;
}

.TopNavigation li {
	margin-right: var(--px50);
	font-size: var(--px14);
	position: relative;
	font-family: 'mr', sans-serif;
}
.TopNavigation li:last-child {
	margin-right: 0;
}
.TopNavigation li:before {
	content: '';
	display: block;
	transform: scaleX(0) translateY(-4px);
	transition: var(--transition-transform);
	height: 1px;
	background-color: #d9d9d9;
}
.TopNavigation li a {
	color: var(--header-color);
}
.TopNavigation li:hover:before {
	transform: scaleX(1) translateY(calc(-1 * var(--px5)));
}

/* .TopNavigation li:after {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	background-color: #000;
	transform: rotate(45deg) translateY(-50%);
	right: calc(-1 * var(--px25));
	top: 50%;
}

.TopNavigation li:last-child {
	margin-right: 0;
}

.TopNavigation li:last-child:after {
	display: none;
} */
