.NewsPage {
	padding: var(--sections-padding);

	.Content {
		position: relative;
		margin-top: var(--px60);
		display: flex;
		justify-content: space-between;

		.Filters {
			max-width: 35%;
			min-width: 20%;
		}
		.ContentListItems {
			flex-grow: 1;
			margin-left: var(--px30);
		}
	}
}
