.SubscribeInputField {
	display: flex;
	align-items: center;
	height: var(--px50);
}

.SubscribeInputField .Input {
	height: 100%;
	width: 35%;
}
.SubscribeInputField .Btn {
	height: 100%;
	background-color: #1F5CD1;
	--translate: calc(var(--px20) * -1);
	transform: translateX(var(--translate));
	color: #fff;
	border: none;
	font-family: 'msb', sans-serif;
}
