.Header {
	width: 100%;
	box-sizing: border-box;
	padding: var(--sections-padding);
}

.HeaderInnner {
	color: #fff;
	background-color: #2e2727;
	border-radius: var(--often-border-radius);
	padding: var(--px8);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	height: var(--px40);
	margin-left: var(--sections-inner-paddings);
}
