.Header {
	width: 100%;
	box-sizing: border-box;
	padding: var(--sections-padding);
}

.HeaderInnner {
	color: #fff;
	background-color: #2e2727;
	border-radius: var(--px24);
	padding: var(--px20) var(--sections-inner-paddings);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
