.Header {
	width: 100%;
	box-sizing: border-box;
	padding: var(--px20) var(--sections-padding) 0 var(--sections-padding);
}

.HeaderInnner {
	color: #fff;
	/* background-color: #2e2727; */
	border-radius: var(--often-border-radius);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	height: var(--px60);
	/* width: var(--px40); */
}
.LogoWrapper {
	height: var(--px60);
}

/* HeaderActionsWrapper */
.HeaderActionsWrapper {
	display: flex;
	align-items: center;
}

.HeaderActionsWrapperIcon {
	height: var(--px28);
	width: var(--px28);
	stroke: var(--header-icons);
	margin-right: var(--px22);
	cursor: pointer;
	padding: var(--px10);
	transition: var(--transition-background-color);
}
.HeaderActionsWrapperIcon:hover {
	background-color: var(--header-icons-bg);
}
.HeaderActionsWrapperIcon:last-child {
	margin-right: 0;
}
