.Header {
	position: absolute;
	z-index: 3;
	left: 0;
}

.MainScreen {
	position: relative;
	/* width: calc(100% - var(--sections-padding) * 2); */
	padding: 0 calc(var(--sections-inner-paddings) + var(--px15));
	margin: 0 auto 0 auto;
	/* height: 80vh; */
	box-sizing: border-box;
	flex-grow: 1;
}

.bg {
	width: 100%;
	height: 100%;
	border-radius: var(--often-border-radius);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.Content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.TitleWrapper {
	width: 100%;
	margin-bottom: var(--px40);
}

.LogoTitle {
	/* height: var(--px80); */
	width: 70%;
	fill: #fff;
	display: block;
	margin: auto;
}

.Title {
	display: block;
	max-width: 85%;
	font-size: var(--px32);
	text-transform: none;
	font-family: 'mth', sans-serif;
	text-align: center;
	/*margin: auto;*/
}

.CardsWrapper {
	display: flex;
	justify-content: space-between;
}

.Card {
	width: calc(33.3% - var(--px17) * 2 / 3);
}

.MoreBtn {
	margin: var(--sections-padding) auto 0 auto;
	color: #9f9f9f;
	cursor: pointer;
	display: flex;
	align-items: center;

	.MoreBtnIcon {
		margin-left: var(--px22);
		/* stroke: #9f9f9f; */
		fill: #9f9f9f;
		stroke: #9f9f9f;
		width: var(--px40);
		height: var(--px40);
	}
}
