:root {
  --main-screen-card-title-height: var(--px73);
  --main-screen-card-content-height: calc(var(--index) * 6.5);
}

.MainScreenCard {
  color: #fff;
  box-sizing: border-box;
  padding: calc(var(--sections-inner-paddings));
  overflow: hidden;
  position: relative;

  .CardTitle {
    font-size: var(--px16);
    line-height: 120%;
    font-family: 'mm', sans-serif;
    height: var(--main-screen-card-title-height);
    color: rgba(#111, .7);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #111;
      height: 1px;
    }
  }

  .CardList {
    width: 100%;
    padding: var(--px12) 0;
    box-sizing: border-box;
    height: var(--main-screen-card-content-height);
  }
}