.SubscribeScreen {
	padding: 0 var(--sections-padding);
	color: #fff;
}

.SubscribeScreenInner {
	position: relative;
	padding: var(--px120) var(--px80);
}

.bg {
	width: 100%;
	height: 100%;
	border-radius: var(--often-border-radius);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.ContentWrapper {
}
