@import './../var/var.css';

.w_10 {
	width: var(--px10);
}
.w_15 {
	width: var(--px15);
}
.w_18 {
	width: var(--px18);
}
.w_20 {
	width: var(--px20);
}
.w_22 {
	width: var(--px22);
}
.w_24 {
	width: var(--px24);
}
.w_25 {
	width: var(--px25);
}
.w_27 {
	width: var(--px27);
}
.w_35 {
	width: var(--px35);
}
.w_38 {
	width: var(--px38);
}
.w_40 {
	width: var(--px40);
}
.w_48 {
	width: var(--px48);
}
.w_60 {
	width: var(--px60);
}
.w_73 {
	width: var(--px73);
}
.w_80 {
	width: var(--px80);
}
.w_120 {
	width: var(--px120);
}
.w_150 {
	width: var(--px150);
}
.w_180 {
	width: var(--px180);
}

.w_all {
	width: 100% !important;
}

.w_0_5 {
	width: 50% !important;
}
.w_0_8 {
	width: 80% !important;
}

.w_0_3 {
	width: 33.333% !important;
}

.m_w_inherit {
	max-width: inherit !important;
}
