.MainScreen {
	position: relative;
	/* width: calc(100% - var(--sections-padding) * 2); */
	padding: 0 calc(var(--sections-inner-paddings) + var(--px15));
	margin: auto;
	/* height: 80vh; */
	box-sizing: border-box;
	margin-bottom: var(--px15);
}

.bg {
	width: 100%;
	height: 100%;
	border-radius: var(--often-border-radius);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.Content {
	position: relative;
	z-index: 1;
	top: 0;
	display: flex;
	flex-direction: column;
}

.LogoTitle {
	height: var(--px80);
	width: 70%;
	fill: #fff;
	margin: auto;
}

.Title {
	display: block;
	max-width: 85%;
	font-size: var(--px32);
	text-transform: none;
	font-family: 'mth', sans-serif;
	text-align: center;
	margin: auto;
}

.CardsWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.Card {
	width: calc(33.3% - var(--px17) * 2 / 3);
}

.MoreBtn {
	background-color: #000;
	width: calc(100% - var(--sections-padding) * 2);
	padding: var(--sections-inner-paddings);
	margin: auto;
	box-sizing: border-box;
	border-radius: var(--often-border-radius);
	overflow: hidden;
}
