.p_b_5 {
	padding-bottom: var(--px5) !important;
}
.p_b_8 {
	padding-bottom: var(--px8) !important;
}
.p_b_10 {
	padding-bottom: var(--px10) !important;
}
.p_b_11 {
	padding-bottom: var(--px11) !important;
}
.p_b_12 {
	padding-bottom: var(--px12) !important;
}
.p_b_20 {
	padding-bottom: var(--px20) !important;
}
.p_b_25 {
	padding-bottom: var(--px25) !important;
}
