.SectionWrapper {
  padding: var(--section-top-padding-often) 0;

  // Color Theme
  &.white {

  }
  &.dark {
    background-color: #000;
  }

  // Padding Theme
  &.default {
    padding-right: var(--sections-padding);
    padding-left: var(--sections-padding);
  }
  &.middle {
    padding-right: var(--sections-middle-padding);
    padding-left: var(--sections-middle-padding);
  }
}