.SectionWrapper {
  padding: var(--section-top-padding-often) 0;

  &.default {
    padding-right: var(--sections-padding);
    padding-left: var(--sections-padding);
  }
  &.middle {
    padding-right: var(--sections-middle-padding);
    padding-left: var(--sections-middle-padding);
  }
}