.PhraseScreen {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f9;
}

.MotivationPhrase {
	font-size: var(--px64);
	text-align: center;
	width: 90%;
	font-family: 'msb', sans-serif !important;
}
