.MainScreen {
	position: relative;
	width: calc(100% - var(--sections-padding) * 2);
	padding: var(--sections-inner-paddings);
	margin: auto;
	height: 80vh;
	box-sizing: border-box;
}

.bg {
	width: 100%;
	height: 100%;
	border-radius: var(--often-border-radius);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.Content {
	position: relative;
	z-index: 1;
	top: 0;
	max-width: 85%;
}
