.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}
.justifyAround {
    justify-content: space-around;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.gap4 {
    gap: var(--px4);
}

.gap6 {
    gap: var(--px6);
}

.gap8 {
    gap: var(--px8);
}

.gap10 {
    gap: var(--px10);
}

.gap12 {
    gap: var(--px12);
}

.gap14 {
    gap: var(--px14);
}

.gap16 {
    gap: var(--px16);
}

.gap18 {
    gap: var(--px18);
}

.gap20 {
    gap: var(--px20);
}

.gap22 {
    gap: var(--px22);
}

.gap24 {
    gap: var(--px24);
}

.gap26 {
    gap: var(--px26);
}

.gap28 {
    gap: var(--px28);
}

.gap30 {
    gap: var(--px30);
}

.gap32 {
    gap: var(--px32);
}

.gap40 {
    gap: var(--px40);
}

.gap48 {
    gap: var(--px48);
}

.gap60 {
    gap: var(--px60);
}

.gap64 {
    gap: var(--px64);
}

.max {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
