.AboutScreen {
  padding: min(calc(var(--index) * 6), 120px) var(--sections-big-padding);
  position: relative;

  .AboutDescription {
    font-size: var(--px24);
  }

  .Wave {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}