.AboutScreen {
  //padding: min(calc(var(--index) * 6), 120px) var(--sections-middle-padding);
  position: relative;

  //.AboutDescription {
  //  font-size: var(--px24);
  //}

  .NavigationWrapper {
    width: 36%;
    border-top: 1px solid var(--default-color);

    .NavigationItem {
      width: 100%;
      position: relative;
      padding-bottom: var(--px8);
      padding-top: var(--px16);
      border-bottom: 1px solid var(--default-color);
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        transition: transform 0.4s ease-in-out;
        bottom: 0;
        height: 2px;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        background-color: #000;
        transform-origin: center left;
        will-change: transform;
      }

      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }

      .LinkContent {
        white-space: nowrap;
        font-family: 'mm', sans-serif;
        font-size: var(--px24);
        color: var(--default-color);
      }
      .Arrow {
        width: var(--px16);
        height: var(--px16);
        fill: var(--default-color);
      }
    }
  }

  .SliderAbout {
    //height: 100%;
    height: calc(var(--index) * 13);
    width: 46%;
  }

  .AboutDescription {
    line-height: 1.4em;
    width: 46%;
    &.AboutDescriptionLeft {
      //width: 46%;
    }
    &.AboutDescriptionRight {

    }
  }
}