.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: var(--sections-big-padding);
}


.flex {
    display: flex;
}

.flex_all {
    flex: 1 0 0;
}

.direction-column {
    flex-direction: column;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.no-touch {
    cursor: default;
    pointer-events: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
}

.bs-bb {
    box-sizing: border-box !important;
}

.ws-nw {
    white-space: nowrap;
}

.d-ib {
    display: inline-block !important;
}

.transition-fill {
    transition: var(--transition-fill);
}

.z_i_1 {
    z-index: 1;
}

.z_i_3 {
    z-index: 3 !important;
}

.z_i_4 {
    z-index: 4 !important;
}

/* ---- tranforming ---- */

.rotate90 {
    transform: rotate(90deg);
}

.rotate-90 {
    transform: rotate(-90deg);
}

/* ---- Borders ---- */

.br_10 {
    border-radius: var(--px10);
}

/* ---- Fill color ---- */

.fill_white,
.fill_white path {
    fill: var(--white);
}

.stroke_white {
    stroke: var(--white);
}

/* ---- buttons ----*/

.btn_disable {
    opacity: 0.4;
    pointer-events: none;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.ttu {
    text-transform: uppercase;
}
