.Card {
	border-radius: var(--often-border-radius);
	color: #fff;
	box-sizing: border-box;
	padding: calc(var(--sections-inner-paddings));
	overflow: hidden;
	position: relative;

	&.MainScreenCard {
		background-color: rgba(255, 255, 255, 0.05);
	}

	&.CardRouting {
		width: 48%;
		height: 100%;
		max-height: 450px;
	}

	&.S {
	}
	&.M {
		.CardTitle {
			font-size: var(--px16) !important;
			font-family: 'msb', sans-serif;
			line-height: 140%;
		}
		.CardList {
			margin-top: var(--sections-padding);
			li {
				margin-bottom: var(--px10);
				a {
					font-size: var(--px14);
					font-family: 'mm', sans-serif;
					text-transform: uppercase;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&.X {
	}
}

.bg {
	width: 100%;
	height: 100%;
	border-radius: var(--often-border-radius);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.blur_theme {
	-webkit-backdrop-filter: blur(65px);
	backdrop-filter: blur(65px);
	background: rgba(255, 255, 255, 0.1);
}

.blur_theme h4 {
	margin-bottom: var(--px40);
}

.blur_theme ul li {
	display: block;
	margin-bottom: var(--px20);
}
.blur_theme ul li:last-child {
	margin-bottom: 0;
}
