.PresentationScreen {
  .PresentationWrapper {
    .PresentationItem {
      width: calc(100% / 3);

      .NumberSide {
        font-size: var(--px120);
        font-family: 'msb', sans-serif;
      }

      .Content {
        width: 85%;
        font-size: var(--px16);
        line-height: 1.3em;
      }

      .PresentationBtn {
        //width: min(calc(var(--index) * 13), 260px);
        margin-top: var(--px20);
      }
    }
  }
}